#body {
    margin: 10% 20%;
    background-color: aquamarine;
    color: white;
}

#title {
    text-align: center;
    font-size: 3rem;
}

#list {
    text-align: center;
    font-weight: bold;
}

#submit-box {
    text-align: center;
}

.btn {
    margin-left: 30px;
}

.item {
    margin-left: 40%;
    text-align: center;
    display: flex;
}